<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->

<!-- end custom head snippets -->
 
 	<!-- <meta name="og:image" content="https://monash-neurointervention.github.io/images/logo.png"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
	<!-- <link rel="stylesheet" href="https://monash-neurointervention.github.io/css/main.css" /> -->
	<!-- <link rel="stylesheet" href="https://monash-neurointervention.github.io/customcss/more-styles.css" /> -->