  <!-- take out github link if repository not published

    <div>
    <a href="https://monash-neurointervention.github.io"><img src="https://avatars.githubusercontent.com/monash-neurointervention" alt="Logo" id="logo"/></a>
    </div>
    <div style="clear: right;"></div>

    <br/>
    <style>
        #logo {
        -webkit-text-size-adjust: none;
          text-align: center;
          color: #49bf9d;
          box-sizing: inherit;
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          vertical-align: baseline;
          display: block;
          border-radius: 100%;
          width: 100px;
          float: right;
          clear: both;
        }
    </style>  -->